<div class="text-center">
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Chars</th>
			<th>Numbers</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>1</td>
			<td>TEST</td>
			<td>001</td>
			<td>
				<a href="#" title="Edit Plate"><img src="~/img/edit.png" /></a>
				<a href="#" title="Delete Plate"><img src="~/img/erase.png" /></a>
			</td>
		</tr>
	</table>
</div>